body {
  background-image: linear-gradient(to right top, #10ff46, #f1db00, #ffae62, #ffa0c0, #fab5fa);
}

.columb1 {
  width: 30%;
  float: left; 
  background-color: #fab5fa;
  height: 500px;
  margin: 15px;
  border: 5px solid black;
}
img{
  width: 60%;
  margin-inline-start: 20%;
}
/* .columb2 {
  width: 30%;
  float: ;
  background-color:green;

}

.columb3 {
  width: 30%;
  float: right;
  background-color: #ffae62;
}
.container{
  width: 100%;
  height: auto;
  vertical-align: middle; */
} */
/* .container{
  max-height: 300px;
  max-width: 300px;
} 